
**Pandas is a python library which is use to work with data in python. It stands for Panel data.**

**Like numpy have its own data structure namely "numpy arrays", pandas has two data structures namely "Series" and "Dataframe".**

Pandas Series is a one-dimensional labeled array capable of holding data of any type. The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet. Labels need not be unique.

Pandas dataframe is a multi dimensional data structure which is a preperation of rows and columns.

We can also load data in pandas from a csv sheet.

# Making a series

## List

In [24]:
import pandas as pd

In [25]:
s1 = pd.Series([1,2,3,4,5])

In [26]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
type(s1)

pandas.core.series.Series

In [28]:
s1 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])

In [29]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Dictionaries

In [30]:
s2 = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})

In [31]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

# Extracting elements.

In [32]:
# Extracting a single element.
s2[3]

4

In [33]:
# Extracting elements from back.
s2[-3:]

c    3
d    4
e    5
dtype: int64

In [34]:
# Extracting a sequence of elements.
s2[:4]

a    1
b    2
c    3
d    4
dtype: int64

# basic math operations on a series.

In [35]:
s2_added_five = s2 + 5

In [36]:
s2_added_five

a     6
b     7
c     8
d     9
e    10
dtype: int64

In [37]:
s2_subtracted_five = s2 - 5

In [38]:
s2_subtracted_five

a   -4
b   -3
c   -2
d   -1
e    0
dtype: int64

In [39]:
s2_multiplied_five = s2 * 5

In [40]:
s2_multiplied_five

a     5
b    10
c    15
d    20
e    25
dtype: int64

In [41]:
s2_divided_five = s2 / 5

In [42]:
s2_divided_five

a    0.2
b    0.4
c    0.6
d    0.8
e    1.0
dtype: float64

In [43]:
s2**2

a     1
b     4
c     9
d    16
e    25
dtype: int64

In [44]:
s2**3

a      1
b      8
c     27
d     64
e    125
dtype: int64

# Making a dataframe

In [49]:
# This is how to create a basic dataframe.
df1 = pd.DataFrame({'Student_name':['Aviral', 'Abhineet', 'x', 'y', 'z'], "Score_in_maths":[99, 100, 98, 99, 97], 'Score in Science':[99, 100, 98, 99, 97]})

In [50]:
df1

  Student_name  Score_in_maths  Score in Science
0       Aviral              99                99
1     Abhineet             100               100
2            x              98                98
3            y              99                99
4            z              97                97

# Loading data from csv file.

In [51]:
data = pd.read_csv('Iris.csv')

In [52]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [53]:
data.shape

(150, 6)

In [57]:
data.head() # Prints first five rows.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [58]:
data.head(100) # Giving a user defined number of rows we want to access.

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [60]:
data.tail() # Prints the last five rows.

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [62]:
data.tail(10)# Giving a user defined number of rows we want to access.

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Accessing particular rows and columns using 'loc' and 'iloc' functions in pandas.

**The difference between iloc and loc is that in iloc, we have to give the index of column while in loc we have to give the name of the column**

## iloc

In [63]:
data.iloc[5:11, 2:4]

    SepalWidthCm  PetalLengthCm
5            3.9            1.7
6            3.4            1.4
7            3.4            1.5
8            2.9            1.4
9            3.1            1.5
10           3.7            1.5

## loc

In [65]:
data_shortened = data.loc[5:11, ("SepalWidthCm", "PetalLengthCm")]

In [66]:
data_shortened

    SepalWidthCm  PetalLengthCm
5            3.9            1.7
6            3.4            1.4
7            3.4            1.5
8            2.9            1.4
9            3.1            1.5
10           3.7            1.5
11           3.4            1.6

# How to drop rows and columns from a dataframe?

# Columns

In [67]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [68]:
data.drop('Id', axis=1)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

## Rows

In [69]:
data.drop(4, axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Additionals

In [72]:
# Function to find out mean value of each column.
data.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [73]:
# Function to find out median value of each column.
data.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [76]:
# Function to find out minimum value of each column.
data.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm               2
PetalLengthCm              1
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [79]:
# Function to find out maximum value of each column.
data.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [80]:
data['Species'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64